body {
  background-color: black;
}
h1 {
  color: black;
  text-align: center;
  border: solid;
  border-radius: 20px;
  font-size: 400%;
  background: linear-gradient(blue, white, blue);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.links {
  text-decoration: none;
  padding: 5px;
  list-style-type: none;
  font-size: 130%;
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.about {
  text-align: center;
  border: ridge blue;
  border-radius: 20px;
  contain: content;
  color: blue;
  font-size: 125%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.summary {
  font-size: 20px;
}
.header2 {
  font-size: 300%;
}
img {
  height: 20%;
  border-radius: 10%;
}
